<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goku.sso.mapper.ext.SsoSystemExtMapper">
  <resultMap id="SsoSystemMap" type="com.goku.sso.model.SsoSystem">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sso_code" jdbcType="VARCHAR" property="ssoCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="last_login_system_id" jdbcType="VARCHAR" property="lastLoginSystemId" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
    <result column="login_status" jdbcType="CHAR" property="loginStatus" />
    <result column="login_session" jdbcType="VARCHAR" property="loginSession" />
  </resultMap>
  <select id="selectByCode" parameterType="java.lang.String" resultMap="SsoSystemMap">
    select
     Id, code, name, url, index_url, login_url, description, if_show
    from sso_system
    where code = #{code,jdbcType=VARCHAR}
  </select>
</mapper>